torch==2.3.1
numpy
pandas
datasets
evaluate
transformers
sentencepiece
faiss-cpu
sqlite-utils
pyyaml
datasketch
requests
trafilatura
beautifulsoup4
simhash
langdetect
tiktoken
tqdm
pytest
rich
tabulate
hf_transfer
